/** @format */

@font-face {
	font-family: Raleway;
	src: url(Raleway.ttf);
}

body {
	background-color: #444;
	margin: 0 auto;
	width: 720px;
	font-family: Raleway;
	color: rgb(255, 255, 255);
}

img {
	position: relative;
	width: 100%;
	display: inline-block;
	z-index: -1;
}

h1 {
	background-color: rgba(36, 35, 35, 0.8);
	font-size: 35px;
	padding: 5px 0;
	text-align: center;
	width: 720px;
	height: 40px;
	margin-top: -70px;
	margin-bottom: 50px;
}

.lead {
	position: relative;
	max-width: 640px;
	line-height: 1.2;
	padding: 20px;
	text-align: justify;
	border-radius: 8px;
	font-size: 26px;
	margin-left: 20px;
	margin-bottom: 30px;
	color: rgba(36, 35, 35, 0.8);
	background-color: rgb(208, 208, 43);
}
p {
	max-width: 680px;
	word-spacing: 4px;
	margin-top: 20px;
	font-size: 18px;
	margin-left: 20px;
	color: rgb(135, 135, 135);
}
h2 {
	font-size: 24px;
	margin: 20px;
}
strong {
	color: rgb(202, 201, 201);
}
table {
	margin-left: 20px;
	margin-top: 20px;
	color: rgb(135, 135, 135);
	width: 680px;
}
caption {
	display: block;
	padding: 5px 0;
	width: 679px;
	border: 1px solid;
	font-style: inherit;
}
th,
td {
	padding: 10px 0;
	border-left: 1px solid;
	border-bottom: 1px solid;
	display: inline-block;
	width: 339px;
	text-align: center;
}
tr td:nth-of-type(2),
tr th:nth-of-type(2) {
	border-right: 1px solid;
}
th {
	background-color: rgb(90, 90, 90);
}
footer {
	text-align: center;
	font-size: 12px;
}
a {
	color: rgb(29, 208, 240);
}